<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="description" content="Remote IT Support Specialist with 5+ years experience in Microsoft 365, networking, cybersecurity and cloud operations. Open to remote and hybrid roles.">
<meta name="keywords" content="Remote IT Support, Microsoft 365 Admin, IT Operations, Cloud Support, Nigeria Remote IT">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>

  {% include header.html %}

  <main class="container">
    {{ content }}
  </main>

  {% include footer.html %}

</body>
</html>
